%rebase('osnova.html', naslov='Dodajanje tekmovalca')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="/dodaj_tekmovalca" method="POST">
      <div class="form-group">
        <label>FIS code</label>
        <input type="integer" name="fis_code" value="{{fis_code}}" class="form-control" placeholder="FIS code" required="true">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Ime</label>
            <input type="text" name="ime" value="{{ime}}" class="form-control" placeholder="Ime" required="true">
        </div>
        <div class="form-group col-md-6">
            <label>Priimek</label>
            <input type="text" name="priimek" value="{{priimek}}" class="form-control" placeholder="Priimek" required="true">
        </div>
      </div>
      <div class="form-group">
            <label>Država</label>
            <select type="text" name="drzava" value="" class="form-control" required="true">
                <option value="" selected disabled hidden>Država</option>
                %for (kratica,ime) in drzave:
                    <option>{{kratica}}</option>
                %end
            </select>
            <p><a class="form-text text-muted small" href="/dodaj_drzavo">Če želene države še ni med možnostmi, najprej izpolni obrazec in jo dodaj.</a></p>
      </div>
      <div class="form-group">
        <label>Rojstvo</label>
        <input type="text" name="rojstvo" value="{{rojstvo}}" class="form-control" placeholder="DD-MM-YYYY ali YYYY" required="true">
      </div>
      <div class="form-group">
        <label>Klub</label>
        <input type="text" name="klub" value="{{klub}}" class="form-control" placeholder="Klub">
      </div>
      <div class="form-group">
        <label>Smuči</label>
        <input type="text" name="smucke" value="{{smucke}}" class="form-control" placeholder="Smuči">
      </div>
      <div class="form-group">
        <label>Status</label>
        <select type="text" name="status" value="{{status}}" class="form-control" required="true">
            <option>Active</option>
            <option>Not active</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
  </form>