%rebase('osnova.html', naslov='Dodajanje tekme')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="/dodaj_tekmo" method="POST">
      <div class="form-group">
        <label>ID</label>
        <input type="integer" name="id" value="{{id}}" class="form-control" placeholder="ID" required="true">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Kraj</label>
            <input type="text" name="kraj" value="{{kraj}}" class="form-control" placeholder="Kraj" required="true">
        </div>
        <div class="form-group col-md-6">
            <label>Država</label>
            <select type="text" name="drzava" value="" class="form-control" required="true">
                %for (kratica,ime) in drzave:
                    <option>{{kratica}}</option>
                %end
            </select>
        </div>
          <p><a href="/dodaj_drzavo">Če na seznamu ni željene države, prosim izpolnji najprej obrazec za dodajo tekme.</a></p>
      </div>
      <div class="form-group">
        <label>Datum</label>
        <input type="date" name="datum" value="{{datum}}" class="form-control" placeholder="Datum" required="true">
      </div>
      <div class="form-group">
        <label>Tip tekme</label>
        <select type="text" name="tip_tekme" value="{{tip_tekme}}" class="form-control" required="true">
            <option>posamicna</option>
            <option>ekipna</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
  </form>