%rebase('Form osnova.html', naslov='Prijava')

<body class="text-center">
<form class="form-signin" method="post">
  <a href="/">
  <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/en/0/07/F%C3%A9d%C3%A9ration_internationale_de_ski_%28logo%29.svg" alt="">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Prosim prijavite se</h1>
  <label for="inputUsername" class="sr-only">Uporabniško ime</label>
  <input type="username" id="inputUsername" class="form-control" placeholder="Uporabniško ime" name="username" required autofocus>
  <label for="inputPassword" class="sr-only">Geslo</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Geslo" name="password" required>
  <div class="checkbox mb-3">
	<label>
	  <input type="checkbox" value="remember-me"> Zapomni si me
	</label>
  </div>
  %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
  %end
  <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
  <a class="btn btn-lg btn-primary btn-block" href="/Register">Registracija</a>
</form>
</body>