%rebase('osnova.html', naslov='Najljubši tekmovalci')

<h1>Najljubši tekmovalci</h1>

<body>
%if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
%end

<form action="/najljubsi" method="post">
  <div class="form-row">
    <div class="form-group col-md-3">
        <label>Dodaj tekmovalca med priljubljene</label>
        <select type="text" name="tekmovalec" value="" class="form-control" required="true">
            %for (id,ime,priimek) in vsi_tekmovalci:
                <option>{{id}} - {{priimek}} {{ime}}</option>
            %end
        </select>
    </div>
    <button type="submit" class="btn btn-primary" style="height:39px; margin-top: 32px; width: 150px; margin-left:15px;">Dodaj tekmovalca</button>
  </div>
</form>


%if izrisi:
<table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th scope="col">FIS code</th>
     <th scope="col">Status</th>
     <th scope="col">Ime</th>
     <th scope="col">Priimek</th>
     <th scope="col">Država</th>
     <th scope="col">Rojstvo</th>
     <th scope="col">Klub</th>
     <th scope="col">Smučke</th>
  </tr>
  </thead>
  <tbody>
  %for (fis_code,status,ime,priimek,drzava,rojstvo,klub,smucke) in tekmovalci:
    <tr>
       <td><a href="/tekmovalec/{{fis_code}}/">{{fis_code}}</a></td>
       <td>{{status}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td><a href="/drzava/{{drzava}}"><p><img class="imageWithText" src="/static/flags/{{drzava}}.png"> {{drzava}}</p></a></td>
       <td>{{rojstvo}}</td>
       <td>{{klub}}</td>
       <td>{{smucke}}</td>
    </tr>
  %end
  </tbody>
</table>
</body>
%end