<html>
<head>
  <title>{{naslov}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">
</head>
<body>

%if napakaO:
        <div class="alert alert-warning">{{napakaO}}</div>
%end

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">Smučarski skoki</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
		% if username:
            % if admin:
                <a class="nav-item dropdown">
                  <a class="dropdown-toggle col-4 text-center text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{username}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dodaj_tekmovalca">Dodaj tekmovalca</a>
                    <a class="dropdown-item" href="/dodaj_tekmo">Dodaj tekmo</a>
                  </div>
                </a>
            % else:
                <a class="nav-item dropdown">
                  <a class="dropdown-toggle col-4 text-center text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{username}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- Button trigger modal -->
                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                      Postani admin
                    </button>
                  </div>
                </a>
            % end
			<a class="btn btn-sm btn-outline-secondary" href="/Logout">Odjava</a>
		% else:
			<a class="btn btn-sm btn-outline-secondary" href="/Login">Prijava</a>
		% end
      </div>
    </div>
  </header>
  
  <!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Postani admin v le 3 klikih</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form class="form-signin" method="post">
		  <div class="modal-body">
			<input type="admin password" id="inputPassword" class="form-control" placeholder="Specialno admin geslo" name="adminPassword">
		  </div>
		  <div class="modal-footer">
			<button class="btn btn-primary" type="submit">Postani admin</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		  </form>
		</div>
	  </div>
	</div>

  <div class="navbar py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tekme
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tekme/2009/Datum-DESC">Sezona 2009</a>
          <a class="dropdown-item" href="/tekme/2010/Datum-DESC">Sezona 2010</a>
          <a class="dropdown-item" href="/tekme/2011/Datum-DESC">Sezona 2011</a>
          <a class="dropdown-item" href="/tekme/2012/Datum-DESC">Sezona 2012</a>
          <a class="dropdown-item" href="/tekme/2013/Datum-DESC">Sezona 2013</a>
          <a class="dropdown-item" href="/tekme/2014/Datum-DESC">Sezona 2014</a>
          <a class="dropdown-item" href="/tekme/2015/Datum-DESC">Sezona 2015</a>
          <a class="dropdown-item" href="/tekme/2016/Datum-DESC">Sezona 2016</a>
          <a class="dropdown-item" href="/tekme/2017/Datum-DESC">Sezona 2017</a>
          <a class="dropdown-item" href="/tekme/2018/Datum-DESC">Sezona 2018</a>
          <a class="dropdown-item" href="/tekme/2019/Datum-DESC">Sezona 2019</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Drugo</a>
        </div>
      </li>
      <a class="p-2 text-muted" href="/tekmovalci/priimek-ASC">Tekmovalci</a>
      <a class="p-2 text-muted" href="#">Države</a>
      <a class="p-2 text-muted" href="#">Zanimivosti</a>
    </nav>
  </div>

{{!base}}

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
</body>
</html>