%rebase('Form osnova.html', naslov='Registracija')

<body class="text-center">
<form class="form-signin" method="post">
  <a href="/">
  <img class="mb-4" src="/static/skakalec.png" alt="" style="width:128px;height:128px;">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
  <label for="inputEmail" class="sr-only">Uporabniško ime</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Uporabniško ime" name="username" required autofocus>
  <label for="inputPassword" class="sr-only">Geslo</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Geslo" name="password" required>
  <label for="inputPassword" class="sr-only">Ponovno vnesite geslo</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Ponovno vnesite geslo" name="password1" required>
  <div class="checkbox mb-3">
	<label>
	  <input type="checkbox" value="kot admin"> Registriraj se kot admin
	  <input type="admin password" id="inputPassword" class="form-control" placeholder="Specialno admin geslo" name="adminPassword" required>
	</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button>
</form>
</body>
