<!DOCTYPE html>
<html>
<head>
<style>
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
</style>
</head>
<body>

<h2>SEZONE</h2>

<div class="btn-group">
  <button class="button">2009</button>
  <button class="button">2010</button>
  <button class="button">2011</button>
  <button class="button">2012</button>  
  <button class="button">2013</button>
  <button class="button">2014</button>
  <button class="button">2015</button>
  <button class="button">2016</button>
  <button class="button">2017</button>
  <button class="button">2018</button>
  <button class="button">2019</button>
</div>

</body>
</html>
