%rebase('osnova.html', naslov='Rezultati tekme {}'.format(x))

<div class="row">
        <div class="col">
          <h1 style="display:inline-block">{{kraj}}, {{datum}}</h1>
          % if username:
            <div class="row float-right">
                % if admin:
                    <a href="/dodaj_rezultat/{{x}}/" class="btn btn-dark btn-md active" role="button" aria-pressed="true" style="margin-right: 5px; height: 39px;">Dodaj rezultat</a>
                % end
            </div>
          %end
        </div>
    </div>

%if napaka:
    <div class="alert alert-warning">
        <strong>Pozor!</strong> {{napaka}}
    </div>
%end

% if not velikost:
    <div class="alert alert-warning" role="alert">Ta tekma še nima vpisanih rezultatov.</div>
% else:

<!-- Search form -->
<form class="form-inline" method="post">
    <input class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Išči" aria-label="Search" name="search" style="height:37px;">
    <i class="fas fa-search" aria-hidden="true"></i>
    <div class="dropdown">
        <div class="form-group form-group-sm mr-3 w-35">
            <select type="text" name="razvrscanje" value="" class="form-control" required="true">
                <option>{{razvrscanje}}</option>
                %for (raz) in moznosti:
                    % if raz != razvrscanje:
                        <option>{{raz}}</option>
                    % end
                %end
            </select>
        </div>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Najdi in razvrsti</button>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"
         data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
         data-content="Napredno iskanje:
         <br/>'Ime stolpca' : 'iskalni parameter'
         <br/>Na primer:
         <br/>FIS code : 5658
         <br/>Ime : Peter">
        <circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
</form>

 <table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th>Rank</th>
     % if ekipna:
        <th>Mesto v ekipi</th>
     % else:
        <th>Startna številka</th>
     % end
     <th>FIS code</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Država</th>
     % if serija:
        <th>1. skok</th>
        <th>1. točke</th>
        <th>2. skok</th>
        <th>2. točke</th>
        % if not ekipna:
            <th>Skupne točke</th>
        %end
     % else:
        <th>Točke</th>
     % end
  </tr>
 </thead>
     <tbody>

  % if serija:
    %for (ranki,startna_stevilka,fis_code,ime,priimek,drzava,skoki1,tocke1,skoki2,tocke2,tocke,mesto_v_ekipi) in tekma:
        <tr>
            <td>{{ranki}}</td>
            % if ekipna:
                <td>{{mesto_v_ekipi}}</td>
            % else:
                <td>{{startna_stevilka}}</td>
            % end
            <td><a href="/tekmovalec/{{fis_code}}/">{{fis_code}}</a></td>
            <td>{{ime}}</td>
            <td>{{priimek}}</td>
            <td><a href="/drzava/{{drzava}}"><p><img class="imageWithText" src="/static/flags/{{drzava}}.png"> {{drzava}}</p></a></td>
            <td>{{skoki1}}</td>
            <td>{{tocke1}}</td>
            <td>{{skoki2}}</td>
            <td>{{tocke2}}</td>
            % if not ekipna:
                <td>{{tocke}}</td>
            % end
        </tr>
    %end
  % else:
    %for (ranki,startna_stevilka,fis_code,ime,priimek,drzava,tocke,mesto_v_ekipi) in tekma:
        <tr>
            <td>{{ranki}}</td>
            % if ekipna:
                <td>{{mesto_v_ekipi}}</td>
            % else:
                <td>{{startna_stevilka}}</td>
            % end
            <td><a href="/tekmovalec/{{fis_code}}/">{{fis_code}}</a></td>
            <td>{{ime}}</td>
            <td>{{priimek}}</td>
            <td><a href="/drzava/{{drzava}}"><p><img class="imageWithText" src="/static/flags/{{drzava}}.png"> {{drzava}}</p></a></td>
            <td>{{tocke}}</td>
        </tr>
    %end
  %end
  %end
     </tbody>
  </table>