%rebase('osnova.html', naslov='Rezultati tekme {}'.format(x))

<h1>{{kraj}}, {{datum}}</h1>

 <table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th>Rank</th>
     <th>Startna številka</th>
     <th>FIS code</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Država</th>
     <th>Skoki</th>
     <th>Točke</th>
      <th>Serija</th>
     <th>Mesto v ekipi</th>  
  </tr>
 </thead>
     <tbody>
  %for (ranki,startna_stevilka,fis_code,ime,priimek,drzava,skoki,tocke,serija,mesto_v_ekipi) in tekma:
    <tr>
       <td>{{ranki}}</td>
       <td>{{startna_stevilka}}</td>
       <td>{{fis_code}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{drzava}}</td>
       <td>{{skoki}}</td>
       <td>{{tocke}}</td>
       <td>{{serija}}</td>
        <td>{{mesto_v_ekipi}}</td>
    </tr>
  %end
     </tbody>
  </table>