%rebase('osnova.html', naslov='Tekme v sezoni {}'.format(x))

<h1>Tekme v sezoni {{x}}</h1>

<div class="dropdown" style="float:right;">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" align="right">
    Razvrščanje
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/tekme/{{x}}/ID-DESC">ID - padajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/ID-ASC">ID - naraščajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Kraj-DESC">Kraj - padajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Kraj-ASC">Kraj - naraščajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Datum-DESC">Datum - Starejši prej</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Datum-ASC">Datum- Novejši prej</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Drzava-DESC">Država - padajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Drzava-ASC">Država - naraščajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Tip_tekme-DESC">Tip tekme - padajoče</a>
    <a class="dropdown-item" href="/tekme/{{x}}/Tip_tekme-ASC">Tip tekme - naraščajoče</a>
  </div>
</div>

 <table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th>ID</th>
     <th>Kraj</th>
     <th>Datum</th>
     <th>Država</th>
     <th>Tip tekme</th>
  </tr>
 </thead>
     <tbody>
  %for (id,kraj,datum,drzava,tip_tekme) in tekme:
    <tr>
       <td><a href="/tekma/{{id}}/">{{id}}</a></td>
       <td>{{kraj}}</td>
       <td>{{datum}}</td>
       <td>{{drzava}}</td>
       <td>{{tip_tekme}}</td>
    </tr>
  %end
     </tbody>
  </table>