%rebase('osnova.html', naslov='Tekmovalci')

<marquee behavior="scroll" direction="left">Tu je kle sam da se mal považem</marquee>
<p>
	<a href="/Video" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true">Še več važenja</a>
</p>

<p>
	<a href="/dodaj_tekmovalca" class="btn btn-dark btn-md active" role="button" aria-pressed="true">Dodaj tekmovalca</a>
</p>

<table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th scope="col">FIS code</th>
     <th scope="col">Status</th>
     <th scope="col">Ime</th>
     <th scope="col">Priimek</th>
     <th scope="col">Država</th>
     <th scope="col">Rojstvo</th>
     <th scope="col">Klub</th>
     <th scope="col">Smučke</th>
  </tr>
  </thead>
  <tbody>
  %for (fis_code,status,ime,priimek,drzava,rojstvo,klub,smucke) in tekmovalci:
    <tr>
       <td><a href="#">{{fis_code}}</a></td>
       <td>{{status}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{drzava}}</td>
       <td>{{rojstvo}}</td>
       <td>{{klub}}</td>
       <td>{{smucke}}</td>
    </tr>
  %end
  </tbody>
</table>