%rebase('osnova.html', naslov='Tekmovalec {}'.format(x))

%if napaka:
    <div class="alert alert-warning">{{napaka}}</div>
%end

<h1>{{ime}} {{priimek}}</h1>

% if admin:
    <p>
	    <a href="/uredi_tekmovalca/{{x}}/" class="btn btn-dark btn-md active" role="button" aria-pressed="true">Uredi</a>
    </p>
% end

<table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th scope="col">Datum</th>
     <th scope="col">Kraj</th>
     <th scope="col">Država</th>
     <th scope="col">Tip tekme</th>
     <th scope="col">Rank</th>
  </tr>
  </thead>
  <tbody>
  %for (datum,kraj,drzava,tip_tekme,rank) in tekmovalec:
    <tr>
       <td>{{datum}}</a></td>
       <td>{{kraj}}</td>
        <td><a href="/drzava/{{drzava}}"><p><img class="imageWithText" src="/static/flags/{{drzava}}.png">{{drzava}}</p></a></td>
       <td>{{tip_tekme}}</td>
       <td>{{rank}}</td>
    </tr>
  %end
  </tbody>
</table>
</body>