%rebase('osnova.html', naslov='Tekme v sezoni {}'.format(x))

<h1>Tekme v sezoni {{x}}</h1>

 <table class="table table-bordered table-hover">
 <thead class="thead-light">
  <tr>
     <th>ID</th>
     <th>Kraj</th>
     <th>Datum</th>
     <th>Država</th> 
     <th>Tip tekme</th> 
  </tr>
 </thead>
     <tbody>
  %for (id,kraj,datum,drzava,tip_tekme) in tekme:
    <tr>
       <td><a href="/tekma/{{id}}/">{{id}}</a></td>
       <td>{{kraj}}</td>
       <td>{{datum}}</td>
       <td>{{drzava}}</td>
       <td>{{tip_tekme}}</td>
    </tr>
  %end
     </tbody>
  </table>